<h1>Welcome to the Product Management System</h1>
<ul>
<li><a href="/products">Go to Products</a>	</li>
<li><a href="/products/create">Create a Product</a></li>
<li><a href="/products/update/:id">Update or Delete a Product</a></li>
</ul>

